.DS_Store
/Amplifier/Amplifier-backups
/Display/Display-backups
Display/~_autosave-Display.kicad_pcb.lck
Display/\#auto_saved_files\#
Display/~Display.kicad_pcb.lck
Display/fp-info-cache
Display/fp-info-cache
Display/~Display.kicad_sch.lck
Display/_autosave-Display.kicad_sch
Amplifier/fp-info-cache
Amplifier/Amplifier.kicad_prl
Amplifier/Amplifier.kicad_prl
